@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Orbitron&family=Roboto:wght@100&display=swap');

// Main color
$mainColor: #31d98c;

// Animation
@keyframes revealText {
  0% {
    opacity: 0.5;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    animation-delay: 3s;
  }
}

/* Keyframes animation */
@keyframes colorExplosion {
  from {
    background-color: orange;
  }
  to {
    background-color: purple;
  }
}

/* Apply the animation to elements with specific classes */
.animated-h1 {
  animation: colorExplosion 2s infinite alternate;
}

.animated-h3 {
  animation: colorExplosion 2s infinite alternate;
}


// Global styles
html, body, #root, .dark {
  height: 100%;
  margin: 0;
}

body {
  background: blueviolet;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("./assets/mountain_background.jpeg");
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Animation for h1 */
.intro-text {
  font-weight: bold;
  font-size: 24px;
  color: rgb(215, 32, 32);
  animation: revealTextH1 1s ease-in-out forwards;
}

/* Animation for h3 */
.other-heading {
  font-weight: bold;
  font-size: 20px;
  color: blue; /* Adjust color as needed */
  animation: revealTextH3 1s ease-in-out forwards;
}

.project-title {
  color: white;
}

.project-description {
  font-weight: bold;
}

// Flexbox utilities
.row, .column {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.container {
  padding: 0 4%;
}

// Dark mode
.dark {
  background: #777;
  color: #fff;

  nav a {
    color: #fff;
  }
}

// Header
header {
  .toggle-bar {
    background: #999;
    height: 25px;
    width: 70px;
    border-radius: 30px;
    position: relative;
    cursor: pointer;

    .toggle {
      position: absolute;
      height: 21px;
      width: 21px;
      top: 2px;
      left: 4px;
      background: #555;
      border-radius: 50%;
      transition: left 0.4s;

      &.dark-mode {
        left: 45px;
      }
    }
  }

  nav a {
    text-decoration: none;
    color: #000;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.active {
      text-decoration: underline;
    }
  }
}

// Form styles
p.confirmation {
  color: darken($mainColor, 10%);
}

form {
  width: 400px;
  margin: 0 auto;

  >* {
    padding: 4px 10px;
    margin-bottom: 4px;
  }

  button {
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    background: $mainColor;
    color: #fff;
    font-size: 1rem;
    margin-top: 10px;
  }
}

h1 {
  text-align: center;
}

// Footer
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

// Centered paragraph
.centered-paragraph {
  text-align: center;
}

// About container
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Add this CSS to your existing styles */
.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Adjust as needed */
}

// Navigation links
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

// Input container
.input-container {
  display: flex;
  gap: 10px;
}

.input-field {
  width: 100%;
  padding: 4px 10px;
  margin-bottom: 4px;
}

/* Add this to your SCSS file */
.indented-paragraph {
  color: white;
  margin-left: 2em; /* Adjust the value as needed */
}

/* Add this to your SCSS file */
.background-overlay {
  position: absolute;
  top: 5;
  left: 10;
  width: 83%;
  height: 38%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity as needed */
  z-index: -1;
}
